{% extends "layout.html" %}
{% block title %}
Items by Room
{% endblock %}
{% block content %}

<label for="room_selection" id="room_selection">Enter a building and room:</label>
<form name="room_selection" action="{{ url_for('byroom') }}" method="GET">
    <label for="building">Building:</label>
    <input type="text" id="building" name="building">
    <label for="frontdoor">Room:</label>
    <input type="text" id="frontdoor" name="frontdoor">
    <input type="submit" value="Submit">
</form><br>
<h1 id="heading"></h1>

<script type="text/javascript">
    let data_json = '{{ display_this|tojson }}'.replace(/\n/g, "\\n");
    let data_obj = JSON.parse(data_json);
    const heading = document.getElementById("heading")
    heading.innerHTML = "Items Status for Room " + data_obj[0].Room;

    var items_data_form=document.createElement('form');
    items_data_form.action="#"
    items_data_form.method='POST'
    let items_div=document.getElementById('items_div')
    data_obj.forEach(function(obj) {
        let status_select=document.createElement('select');
        status_select.name='siid ' + obj.siid;
        let unmarked_opt=document.createElement('option');
        unmarked_opt.value='unmarked';
        unmarked_opt.innerHTML='unmarked';
        if (obj.Status=='unmarked') {
            unmarked_opt.selected=true;
        }
        let todo_opt=document.createElement('option');
        todo_opt.value='todo';
        todo_opt.innerHTML='todo';
        if (obj.Status=='todo') {
            todo_opt.selected=true;
        }
        let complete_opt=document.createElement('option');
        complete_opt.value='complete';
        complete_opt.innerHTML='complete';
        if (obj.Status=='complete') {
            complete_opt.selected=true;
        }
        let sep_txt = ' - ';
        let label_txt = obj.Room + sep_txt + obj.Item + sep_txt + obj.TradeAssociated + sep_txt + '-->>' + obj.Notes + '<br>';
        let label_element=document.createElement('label');
        label_element.htmlFor=obj.siid;
        label_element.innerHTML=label_txt;
        let note_input=document.createElement('input');
        note_input.type='text';
        note_input.name= 'siidnote ' + obj.siid;
        status_select.appendChild(unmarked_opt);
        status_select.appendChild(todo_opt);
        status_select.appendChild(complete_opt);
        items_data_form.appendChild(note_input);
        items_data_form.appendChild(status_select);
        items_data_form.appendChild(label_element);
        });
    let submit_element=document.createElement('button');
    submit_element.type='submit';
    // submit_element.onclick='send_statuses()';
    submit_element.innerHTML='Submit';
    items_data_form.appendChild(submit_element);
    document.body.appendChild(items_data_form);
</script>
{% endblock %}