<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <!-- <a href="{{ url_for('tasksstatus') }}" class="navbar-item">Tasks Status</a> -->
            <a href="{{ url_for('byroom') }}" class="navbar-item">Single Room</a>
            <a href="{{ url_for('todocurrent') }}" class="navbar-item">Current To-Do</a>
            <a href="{{ url_for('roomsbypriority') }}" class="navbar-item">Rooms by Priority</a>
            <a href="{{ url_for('allnotesticker') }}" class="navbar-item">Notes Ticker</a>
            <a href="{{ url_for('completedticker') }}" class="navbar-item">Completed Ticker</a>
            <a href="{{ url_for('turnedrooms') }}" class="navbar-item">Turned Rooms</a>

        </div>

                <div class="body-content">
            {% block content %}

            {% endblock %}
            <hr/>
            <footer>
                <p><img src="{{ url_for('static', filename='logo.png') }}" width="100" height="100"></p>
            </footer>
        </div>
    </body>
</html>