{% extends "layout.html" %}
{% block title %}
To-Do by Priority
{% endblock %}
{% block content %}

<!-- <label for="trade_selection" id="trade_selection">Enter trade:</label> -->
<form name="trade_selection" action="{{ url_for('todocurrent') }}" method="GET">
    <label for="trade">Enter Trade:</label>
    <input type="text" id="trade" name="trade">
    <input type="submit" value="Submit">
</form><br>


<h1 id="heading"></h1>

<script type="text/javascript" src="{{ url_for('static', filename='js/by_priority.js') }}"></script>
<script type="text/javascript">
    let post_data_json = '{{ display_this|tojson }}'.replace(/\n/g, "\\n");
    let post_data_obj = JSON.parse(post_data_json);
    let heading = document.getElementById("heading");
    heading.innerHTML = "Current To-Do List by Priority";

    let items_div = by_priority(data_obj=post_data_obj)
        document.body.appendChild(items_div);
</script>
{% endblock %}